<div class="col-md-4 ticket">
  <%= link_to system_path(registrant.system) do %>
    <div class="ticket-card">
      <img class="ticket-thumb-index" src="<%= registrant.system.first_image %>">
      <div class="ticket-card-content">
        <div class="ticket-date">
          <%= registrant.system.descriptive_date %>
        </div>
        <div class="ticket-title">
          <%= registrant.system.title %>
        </div>
        <small><p><%= "Event size: #{registrant.system.max_players}" %></p></small>
      </div>
      <div class="btn btn-primary systemsDetail">Event Details</div>
    </div>
  <% end %>
</div>
