<%= link_to tickets_path(cohort_id: @cohort.id), class: "banner banner-show" do %>
  <div class="banner-card tickets">
    <p class="banner-date"><%= @cohort.name %></p>
    <p class="banner-date"><%= @cohort.descriptive_date %></p>
    <p class="banner-cta-text">Buy Tickets</p>
  </div>
<% end %>
<div class="info">
  <%= @cohort.body %>
</div>
<div id="map"></div>

<script>
  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    var location = {lat: <%= @cohort.latitude %>, lng: <%= @cohort.longitude %>};
    // The map, centered at Uluru
    var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 13, center: location});
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({position: location, map: map});
  }
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChUS85i-pFOiPZKDV-wgOcXnc-T1vqrec
&callback=initMap">
</script>
