<div class="row bottom-buffer">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <% @round.system.rounds.each do |round| %>
        <% if round.persisted? %>
          <li role="presentation">
            <a href="<%= round_path(id: round.id ) %>">
              Round <%= round.round + 1 %>
            </a>
          </li>
        <% else %>
          <li class="class=active" role="presentation">
            <a href="#">
              Round <%= round.round + 1 %>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%= form_for @round do |f| %>
      <%= f.fields_for :round_individuals do |round_individual| %>
        <%= render 'pairing', :f => round_individual %>
      <% end %>
      <%= f.hidden_field :round %>
      <%= f.hidden_field :system_id %>
      <%= f.hidden_field :complete %>
      <div>
        <%= f.submit 'Start Round', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
