<div class="row bottom-buffer">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <% @round.system.rounds.each do |round| %>
        <li <%= "class=active" if round.id == @round.id %> role="presentation">
          <a href="<%= round_path(id: round.id ) %>">
            Round <%= round.round + 1 %>
          </a>
        </li>
      <% end %>
      <% if @round.system.rounds.last.complete? %>
        <li role="presentation">
          <a href="<%= new_round_path(system_id: @round.system.id) %>">
            Round <%= @round.system.rounds.count + 1 %>
          </a>
        </li>
      <% end %>
    </ul>
    <% @round.round_individuals.order(:id).each do |pairing| %>
      <%= render partial: "final_pairing", locals: {pairing: pairing} %>
    <% end %>
    <%= form_tag complete_round_rounds_path(id: @round.id) do %>
      <%= submit_tag("Complete Round", class: "btn btn-primary") unless @round.complete? %>
    <% end %>
  </div>
</div>
