<%= form_for @registrant do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="well">
    <div class="form-group">
      <!-- TODO: This is a huge performance hit here potentially -->
      <%= collection_select(:registrant, :user_id, User.all, :id, :name, class: "form-control") %>
    </div>
    <div class="form-group">
        <%= f.check_box :paid %> Paid?
    </div>
    <div class="form-group">
      <%= f.check_box :checked_in %> Checked In?
    </div>
    <%= f.hidden_field :system_id, value: @registrant.system.id %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="btn-group-vertical btn-block">
        <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
