<tr class="table-link js-registrantLink" data-link="<%= edit_registrant_path(registrant) %>">
  <td><%= check_box_tag "checked_in", registrant.checked_in, registrant.checked_in,
                        data: {
                            remote: true,
                            url: url_for(action: :check_in_player, id: registrant.id),
                            method: "POST"
                        },
                        class: "registrant-checkbox"
  %>
    <span class="check-in-save" id="js-saved-<%= registrant.id %>">Saved</span>
  </td>
    <td><%= registrant.user.name %></td>
    <td><%= registrant.user.email %></td>
</tr>
