<div class="row bottom-buffer">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <% @system.rounds.times do |round| %>
        <li <%= "class=active" if round == @round.to_i %> role="presentation"><a href="<%= round_individual_path(id: round, system_id: @system.id) %>">Round <%= round + 1 %></a></li>
      <% end %>
    </ul>
    <% @pairings.each do |pairing| %>
      <div class="row">
        <div class="col-md-12 ticket">
          <div class="ticket-card">
            <div class="row">
              <div class="col-sm-5">
                <%= pairing[0].user.name %>
              </div>
              <div class="col-sm-2">
                vs.
              </div>
              <div class="col-sm-5">
                <%= pairing[1].user.name %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= form_tag set_initial_pairings_round_individuals_path(id: @system.id) do %>
      <div><%= submit_tag 'Set pairings', class: "btn btn-primary" %></div>
    <% end %>
  </div>
</div>
