<div class="col-md-4 ticket">
  <% if current_user&.is_system_to?(system) %>
    <div class="dropdown btn-group-vertical btn-block">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Tournament Organizer Settings
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="<%= edit_cohort_path(system.cohort) %>">Edit this system</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="<%= registrants_path(cohort_id: system.cohort.id) %>">Check in players</a></li>
        <li><a href="#">Start Event</a></li>
      </ul>
    </div>
  <% end %>
  <%= link_to_if system.registration_open?, system_path(system) do %>
    <div class="ticket-card <%= "sold-out" if system.full? %> <%= "coming-soon" if system.active_but_registration_closed? %>">
      <img class="ticket-thumb-index" src="<%= system.first_image %>">
      <div class="ticket-card-content">
        <div class="ticket-date">
          <%= system.descriptive_date %>
        </div>
        <div class="ticket-title">
          <%= system.title %>
        </div>
        <small><p><%= "Event size: #{system.max_players} - Spots left: #{system.spots_left}" %></p></small>
      </div>
      <div class="price price-card pull-right"><%= number_to_currency(system.cost) %></div>
    </div>
  <% end %>
</div>
