<% provide(:title, 'Event Shopping Carts') %>
<% provide(:meta_description, t('seo.cart')) %>
<div class="ticket">
  <div class="ticket-title">
    Shopping <%= "cart".pluralize(@structured_cart.count) %>
  </div>

  <% @structured_cart.each do |cohort, registrants| %>
    <%= link_to cohorts_cart_systems_path(:cohort_id => cohort.id) do %>
      <div class="ticket-card">
        <div class="row">
          <div class="col-md-12">
            <img class="ticket-thumb-index" src="<%= cohort.first_image %>">
            <div class="ticket-card-content">
              <div class="ticket-date">
                <%= cohort.descriptive_date %>
              </div>
              <div class="ticket-title">
                <%= cohort.name %>
              </div>
              <p class="small"><%= cohort.truncate_body(75) %>...</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="btn btn-primary btn-block">Complete payment for <%= cohort.name %></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="price" style="text-align: center"><%= number_to_currency(Cart.registrants_total(registrants)) %> (<%= pluralize(registrants.count, "system") %>)</div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="btn-group-vertical cont-shopping">
        <%= link_to "Continue shopping", systems_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>