<% provide(:title, @system.title) %>
<% provide(:meta_description, truncate(strip_tags(@system.description), :length => 120)) %>
<div class="ticket">
  <div class="ticket-date">
    <%= @system.cohort.name %>
  </div>
  <div class="ticket-date">
    <%= @system.descriptive_date %>
  </div>
  <div class="ticket-title"><%= @system.title %></div>
  <small><p> <%= "Event size: #{@system.max_players}" %></p></small>
  <div>
    <%= sanitize(@system.description) %>
  </div>
  <br />
  <div class="btn-group-vertical btn-block">
    <% if @system.cohort.attachment_url.blank? %>
      <div class="btn btn-primary disabled">Player pack unavailable</div>
    <% else %>
      <%= link_to "Download player pack", @system.cohort.attachment_url, class: "btn btn-primary" %>
    <% end %>
    <%=link_to "Roster", roster_system_path(@system.id), class: "btn btn-primary" %>
    <div class="btn btn-primary disabled">Pairings</div>
    <div class="btn btn-primary disabled">Placings</div>
  </div>
  <% if @registrant.persisted? %>
    <div class="row">
      <div class="toggle-row col-md-offset-2 col-md-8">
        <h4>Player Tools</h4>
      </div>
    </div>
    <div class="row">
      <div class="border-top toggle-row col-md-offset-2 col-md-8">
        <span class="toggle-text">Checked in?</span>
        <label class="switch pull-right">
          <%= check_box_tag :checked_in, "1", @registrant.checked_in?, id: "js-checkedIn", data: {
            url: check_in_player_registrant_path(@registrant.id),
            remote: true,
            method: :post
          } %>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <label style="display: none" for="js-factionSelect">Faction Select</label>
            <select id="js-factionSelect" class="form-control" onchange="if (this.selectedIndex) submitFaction(this);">
              <option value="" selected disabled hidden>Faction</option>
              <optgroup label="Imperium">
                <option value="Imperium">Imperium</option>
                <option value="Adeptus Astartes">Adeptus Astartes</option>
                <option value="Space Marines">Space Marines</option>
                <option value="Black Templars">Black Templars</option>
                <option value="Blood Angels">Blood Angels</option>
                <option value="Dark Angels">Dark Angels</option>
                <option value="Deathwatch">Deathwatch</option>
                <option value="Grey Knights">Grey Knights</option>
                <option value="Imperial Fists">Imperial Fists</option>
                <option value="Iron Hands">Iron Hands</option>
                <option value="Salamanders">Salamanders</option>
                <option value="Space Wolves">Space Wolves</option>
                <option value="Ultra Marines">Ultra Marines</option>
                <option value="White Scars">White Scars</option>
                <option value="Adeptus Sororitas">Adeptus Sororitas</option>
                <option value="Adeptus Custodes">Adeptus Custodes</option>
                <option value="Adeptus Mechanicus">Adeptus Mechanicus</option>
                <option value="Astra Militarum">Astra Militarum</option>
                <option value="Imperial Knights">Imperial Knights</option>
              </optgroup>
              <optgroup label="Chaos">
                <option value="Chaos">Chaos</option>
                <option value="Chaos Daemons">Chaos Daemons</option>
                <option value="Chaos Knights">Chaos Knights</option>
                <option value="Chaos Space Marines">Chaos Space Marines</option>
                <option value="Death Guard">Death Guard</option>
                <option value="Thousand Sons">Thousand Sons</option>
              </optgroup>
              <optgroup label="Aeldari">
                <option value="Aeldari">Aeldari</option>
                <option value="Asuryani">Asuryani</option>
                <option value="Harlequins">Harlequins</option>
                <option value="Drukhari">Drukhari</option>
              </optgroup>
              <optgroup label="Hive Mind">
                <option value="Hive Mind">Hive Mind</option>
                <option value="Tyranids">Tyranids</option>
                <option value="Genestealer Cults">Genestealer Cults</option>
              </optgroup>
              <optgroup label="Necrons">
                <option value="Necrons">Necrons</option>
              </optgroup>
              <optgroup label="Orks">
                <option value="Orks">Orks</option>
              </optgroup>
              <optgroup label="Tau Empire">
                <option value="Tau Empire">Tau Empire</option>
              </optgroup>
            </select>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Upload Army List</button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <% if @registrant.list.present? %>
          <h5>Army List Preview</h5>
          <pre><%= sanitize @registrant.list %></pre>
        <% end %>
      </div>
    </div>
    <br />
  <% end %>

  <% unless @registrant.persisted? %>
    <%= form_for(@registrant, url: add_to_cart_system_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="row">
        <div class="col-md-12 text-center">
          <span class="price">$<%= number_with_precision(@system.cost, :precision => 2) %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group-vertical btn-block">
            <%= f.submit "Add to cart", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if @registrant.persisted? %>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Upload List</h4>
        </div>
        <%= form_for @registrant, url: submit_list_registrant_path(@registrant.id), method: :post do |form| %>
          <div class="modal-body">
            <%= form.text_area :list %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= form.submit "Save changes", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <script>
      $('#myModal').on('shown.bs.modal', function () {
          $('#myInput').focus()
      })

      $( document ).ready(function() {
          $("#js-factionSelect option").filter(function() {
              return $(this).text() === "<%= @registrant.faction %>";
          }).prop('selected', true);
      });

      function submitFaction(selectList) {
          Rails.ajax({
              url: "<%= submit_faction_registrant_path(@registrant.id)%>",
              type: "post",
              data: new URLSearchParams({faction: selectList.value}).toString(),
              success: function(data) {},
              error: function(data) {}
          })
      }
  </script>
<% end %>
